<div class="container-fluid" id="ver-body">
     
     <div class="jumbotron jumbotron-fluid" id="ver-jumbo">
        <div class="container">

            <div class="row">
                <div class="col-md-12" id="ver-header-1">
                    <h2 class="display-4">Before We Begin...</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="ver-header-2">
                    <h4 class="lead ml-4">Enter your date of birth.</h4>
                </div>
            </div>

            <div class="row mx-5 mt-5" id="DOB-row">
                <div class="col-md-4">
                    <form>
                        <input class="form-control" type="number" name="month" min="1" max="12" id="ver-month-input" placeholder="MM">
                    </form>
                </div>
                <div class="col-md-4">
                    <form>
                        <input class="form-control" type="number" name="month" min="1" max="31" id="ver-day-input" placeholder="DD">
                    </form>
                </div>
                <div class="col-md-4">
                    <form>
                        <input class="form-control" type="number" name="year" min="1900" max="2018" id="ver-year-input" placeholder="YYYY">
                    </form>
                </div>
            </div>

        </div>
        
    </div>

    <button type="submit" class="btn btn-dark btn-lg btn-block" id="ver-submit">Submit</button>

</div>
