<div id="browse-background">

    <div class="jumbotron jumbotron-fluid" id="browse-jumbo">

        <div class="container">

            <div class="row">
                <div class="col-md-12" id="ver-header-1">
                    <h2 class="display-4">See where people are going</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" id="ver-header-2">
                    <h4 class="lead ml-4">Join a trip!</h4>
                </div>
            </div>
            <div class="container-fluid text-center" id="search-nav">
                <div class="row">
                    <div class="col-md-4">
                        <button class="search-btn" id="host-btn">Host A Trip</button>
                    </div>
                    <div class="col-md-4">
                        <button class="search-btn" id="search-btn">Search Trips</button>
                    </div>
                    <div class="col-md-4">
                        <button class="search-btn" id="home-btn">Go Home</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                </div>

                <div class="col-4">
                    {{#each trip}} {{>trips/trip-block}} {{/each}}
                </div>

                <div class="col-4"></div>
            </div>
        </div>
    </div>

    <script src="" async defer></script>
</div>