<div class="jumbotron jumbotron-fluid">

    <div class="container">

        <h1>Roadster</h1>
        <h4>don't hit the road alone</h4>
        <p>A place for roadtrippers to team up...</p>

    </div>


</div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a href="/host" type="button" class="btn btn-dark" id="host" >Host a trip</a>
        <a href="/search" type="button" class="btn btn-dark" id="search">Search trips</a>
        <a href="/browse" type="button" class="btn btn-dark" id="browse">Browse trips</a>
    </div>
</div>