<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="ver-header-1">
                <h2 class="display-4">Host a Trip</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" id="ver-header-2">
                <h4 class="lead ml-4">Enter the details about your trip</h4>
            </div>
        </div>

        {{!-- Form goes below --}}
        <div class="row mx-5 mt-5">
            <div class="col-md-8">
     <h6>Departure Date</h6>
            </div>

            <div class="col-md-4">
                <h6>Number of available seats</h6>
            </div>
           
        </div>
        <div class="row mx-5 mt-3">
            <div class="col-md-2">
                <form>
                    <input class="form-control mx-3" type="number" name="month" min="1" max="12" id="dep-month-input" placeholder="MM">
                </form>
            </div>
            <div class="col-md-2">
                <form>
                    <input class="form-control mx-3" type="number" name="month" min="1" max="31" id="dep-day-input" placeholder="DD">
                </form>
            </div>
            <div class="col-md-2">
                <form>
                    <input class="form-control mx-3" type="number" name="year" min="2018" max="2019" id="dep-year-input" placeholder="YYYY">
                </form>
            </div>
              <div class="col-md-2"></div>
              <div class="col-md-2">
                <form>
                    <input class="form-control mx-3" type="number" name="seats" id="seats-avail">
                </form>
            </div>
        </div>
 <div class="row mx-5 mt-5">
            <div class="col-md-3">
            <h6>Leaving from...</h6>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-3">
            <h6>Going to...</h6>
            </div>
        </div>
        <div class="row mx-5">
              <div class="col-md-3">
                    <form>
                        <input class="form-control mx-3" type="text" name="dep-city" id="dep-city-input" placeholder="City">
                    </form>
                </div>
                <div class="col-md-2">
                    <form>
                        <select name="states" class="form-control mx-3" id="dep-state">
                            {{#each states}}
                            <option value="{{name}}">{{abbreviation}}</option>
                            {{/each}}
                        </select>
                    </form>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <form>
                        <input class="form-control mx-3" type="text" name="arr-city" id="arr-city-input" placeholder="City">
                    </form>
                </div>
                <div class="col-md-2">
                    <form>
                         <select name="states" class="form-control mx-3" id="arr-state">
                            {{#each states}}
                            <option value="{{name}}">{{abbreviation}}</option>
                            {{/each}}
                        </select>
                    </form>
                </div>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-dark btn-lg btn-block" id="host-submit">
    <i class="fa fa-check-circle" aria-hidden="true"></i>
    Submit Your Trip</button>