    <div class="jumbotron jumbotron-fluid">

        <div class="container">

            <h1>Roadster</h1>
            <h4>don't hit the road alone</h4>
            <p>A place for roadtrippers to team up...</p>

        </div>


    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <button>Host a trip</button>
            <button>Browse trips</button>
            <button>Search trips</button>
            <button>Trip details</button>
        </div>
    </div>