<div class="container-fluid" id="main-body">

    <div class="jumbotron jumbotron-fluid" id="main-jumbo">
        <div class="container">
            <h1 id="app-name">Roadster</h1>
            <h4 id="index-subtxt">don't hit the road alone</h4>
            <p id="index-subsubtxt">A place for roadtrippers to team up...</p>
        </div>
    </div>

    <div class="container-fluid text-center" id="nav-btn-container">
        <div class="row">
            <div class="col-md-3">
                <button class="main-btn">Host A Trip</button>
            </div>
            <div class="col-md-3">
                <button class="main-btn">Browse Trips</button>
            </div>
            <div class="col-md-3">
                <button class="main-btn">Search A Trip</button>
            </div>
            <div class="col-md-3">
                <button class="main-btn">Trip Details</button>
            </div>
        </div>
    </div>
</div>

<script src="" async defer></script>
